name: Generate Terraform documentation

on:
  pull_request:

jobs:

  terraform-docs:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      contents: write

    steps:

      - name: Clone repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@main
        with:
          config-file: .terraform-docs.yaml
          git-push: "true"
          working-dir: .
